<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đổi mật khẩu - FPT Polytechnic</title>
    <link rel="stylesheet" href="../css/doimatkhau.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
	<script src="../js/jquery-3.3.1.min.js"></script>
	<script src="../js/popper.min.js"></script>
	<script src="../js/angular.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body ng-controller="doimatkhau">
    <div class="w-50 m-auto">
        <div class="bg-info font-weight-bold text-center rounded">
            <h3 class="p-3">ĐỔI MẬT KHẨU</h3>
        </div>
        <div class="card card1 p-3">
            <label class="input">
                <input class="input__field" type="text" placeholder=" " value="{{username}}"/>
                <span class="input__label">Username</span>
            </label>
            <label class="input">
                <input ng-model="oldpwd" class="input__field" type="password" placeholder=" " />
                <span class="input__label">Mật khẩu cũ</span>
            </label>
            <label class="input">
                <input ng-model="newpwd" class="input__field" type="password" placeholder=" " />
                <span class="input__label">Mật khẩu mới</span>
              </label>
            <div class="button-group">
              <button ng-click="doimatkhau()">Đổi mật khẩu</button>
            </div>
          </div>
    </div>
</body>
<script src="../js/dangnhap.js"></script>
<script src="../js/Students.js"></script>
</html>